{% load static %}
{% block content %}
{% include 'header.html' %}
 
    <!-- booking Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Booking</p>
                    <h1 class="mb-4">Book Our Doctor</h1>
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">+012 345 6789</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">info@example.com</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form method="POST" action ="doctorbooking" enctype="multipart/form-data">
                            {% csrf_token %}
 
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Patient Name" style="height: 55px;" name="ptname">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Patient Email" style="height: 55px;" name="ptemail">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Patient Mobile" style="height: 55px;" name="ptmobile">
                                </div>
                                <!-- <select id="playerselect" name="pitcher" class="player-dropdown">
                                    {% for option in options %}
                                        <option value="{{ option.id}}">{{ option.player_name }}</option>
                                    {% endfor %}
                                    <input type="submit" value="Search"/>
                                    </select> -->
 
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;" name="ptdoctor">
                                        <option selected>Choose Doctor</option>
                                    {% for i in result1 %}
                                        <option>{{i.docname}}({{i.docspecification}})</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="date"
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;" name="ptdate">
                                    </div>
                                </div>
 
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="time"
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;"name="pttime">
                                    </div>
                                </div>
                               
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- booking End -->
 
   
{% include 'footer.html' %}
{% endblock %}