{% load static %}
{% block content %}
{% include 'header.html' %}

 <!-- dr Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded-pill py-1 px-4"> update_Doctors </p>
               
                <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Call Us Now</p>
                        <h5 class="mb-0">+012 345 6789</h5>
                    </div>
                </div>
                <div class="bg-light rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Mail Us Now</p>
                        <h5 class="mb-0">info@example.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                    <form method="POST" action="doctor_update/{{result.id}}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Doctor Name" style="height: 55px;" name="docname" value="{{result.docname}}">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Doctor specification" style="height: 55px;" name="docspecification" value="{{result.docspecification}}">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Doctor email" style="height: 55px;" name="docemail" value="{{result.docemail}}">
                            </div>
                           
                            <div class="advisor_thumb"><img src="../media/{{result.drimg}}" alt="" style="width: 200px;height:200px;">
                                <div class="col-12 col-sm-6">
                                    <input type="file" class="form-control border-0" placeholder="Doctor Photo" style="height: 55px;" name="docphoto">
                                </div>
 
 
                           
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- dr End -->
{% include 'footer.html'%}
{% endblock %}